<div x-ng-include="'/templates/navbar.html'">
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<div x-ng-include="'/templates/sidebar.html'"></div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div x-ng-view></div>
		</div>
	</div>
</div>
