<div id="navbar" class="navbar-collapse collapse" x-ng-controller="LoginController">
	<div x-ng-switch="isLoggedIn()">
		<div x-ng-switch-when="true">
			<ul class="nav navbar-nav navbar-right">
				<li x-ts-navlink="/profile" title="{{getUserInfo().fullname}}">
			</ul>
		</div>
		<form x-ng-switch-default class="navbar-form navbar-right" name="login">
			<div class="form-group">
				<input type="text" placeholder="Email" name="email" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" name="password" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
		</form>
	</div>
</div>
