<div x-ng-controller="sidebarController">
	<ul class="nav nav-sidebar">
		<li x-ts-navlink="/" title="Home" x-ts-badge="numberOfNotifications()"></li>
	</ul>
	<ul class="nav nav-sidebar">
		<li x-ts-navlink="/profile" title="My profile"></li>
		<li x-ts-navlink="/tournaments" title="Tournaments"></li>
		<li x-ts-navlink="/subscription" title="Subscription"></li>
	</ul>
	<ul class="nav nav-sidebar">
		<li x-ts-navlink="/teamManagement" title="Team Management"></li>
		<li x-ts-navlink="/tournamentManagement" title="Tournament Management"></li>
		<li x-ts-navlink="/notificationManagement" title="Notification Management"></li>
	</ul>

	<ul class="nav nav-sidebar">
		<li x-ts-navlink="/faq" title="FAQ"></li>
	</ul>
</div>
