<h1>Tournaments</h1>

<table class="table table-hover table-striped table-bordered">
	<tr>
		<th>Name</th>
		<th>Max. Teams</th>
		<th>Nb. Players</th>
		<th>Validation Place</th>
		<th>Validation Date</th>
		<th>State</th>
		<th>Teams subscribed</th>
		<th>action</th>
	</tr>

	<tr x-ng-repeat="tournament in tournaments">
		<td>{{tournament.name}}</td>
		<td>{{tournament.nbMaxTeam}}</td>
		<td>{{tournament.nbPlayerPerTeam}}</td>
		<td>{{tournament.validationPlace}}</td>
		<td>{{tournament.validationDate | date : medium}}</td>
		<td>{{tournament.state}}</td>
		<td>{{tournament.teams.length}}</td>
		<td><button type="button" class="btn btn-primary btn-xs">Details</button></td>
	</tr>
</table>
